body {
    background-color: #88CCF1;
    font-family: sans-serif;
}
.cookie {
    position: relative;
    top: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    max-width: 100%;
    user-select: none;
}

.oreo-layer {
    position: relative;
    margin-top: -300px;
    z-index: 0;
    animation: slideOnTop 0.3s ease;
    max-width: 100%;
    user-select: none;
}


.oreo-layer.removing {
    animation: remove 0.3s ease;
}


@keyframes slideOnTop {
    0% {
        opacity: 0.5;
        transform: translateY(-500px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes remove {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.topbar {
    background: #96D4F6;
    padding: 5px;
    top: 0;
    width: 50%;
    min-width: fit-content;
    max-height: 85px;
    z-index: 999999;
    margin: auto;
    position: fixed;
    border-radius: 15px;
    padding: 5px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.topbartitle {
    text-align: center;
    cursor: pointer;
    margin-right: auto;
    display: inline-block;
}

.topbartitle:hover {
    text-decoration: underline;
}

.topbartitle:hover + .soundicon {
    visibility: visible;
}

.soundicon {
    visibility: hidden;
}

.button, .topbarbutton{
    border: 0px;
    border-radius: 15px;
    background-color: #5EBAEA;
    margin: 2px;
    display: inline-block;
    opacity: 0.8;
    cursor: pointer;
}
.button:hover, .topbarbutton:hover{
    opacity: 1;
}

.topbarbutton {
    width: 75px;
    height: 75px;
    max-width: 20%;
}

.topbarallignright {
    right: 0;
    margin-right: 0;
    
}


.panel {
    background: #96D4F6;
    padding: 5px;
    top: 20%;
    right: 0px;
    max-width: 30%;
    width: 200px;
    max-height: 100%;
    z-index: 999999;
    position: fixed;
    border-radius: 15px;
}

.add-button {
    width: 100%;
    max-height: 10%;
    position: relative;
    transition: all;
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
}

.add-button:hover {
    opacity: 1;
}

.rembutton {
    width: 90%;
    height: 90px;
    max-height: 1%;
    margin: 5%;
    background-color: #B92525;
    border-radius: 25px;
    border: 0px;
    color: white;
    font-size: 150%;
    opacity: 0.8;
    cursor: pointer;
}


.rembutton:hover {
    opacity: 1;
}

footer {
    background: #5EBAEA;
    height: 100px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    position: fixed;
    padding-top: 0.5px;
    text-align: center;
    color: white;
    display: block;
    z-index: 999999;
    opacity: 1;
    transition: all;
}

.importwindowback {
    display: none;
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff1e;
}

.importwindow {
    width: 95%;
    max-width: 500px;
    height: fit-content;
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    background-color:#99d9fc;
    font-size: 1rem;
    opacity: 1;
    border-radius: 25px;
}